docker-compose up -d
trading_postgres
trading_redis

Alpaca Paper Trading API


commands: 
# docker ps
docker exec -it trading_postgres bash
psql -U trading_user -d trading_db

pip install psycopg2

# PostgresSQL

\dt #list all tables
select * from orders;


